@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800 text-white;
}

/* loading animation */
.loader {
  @apply w-12 h-12 border-[5px] border-cyan-200 rounded-[50%] inline-block box-border border-b-transparent;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
